.wrapper {
    display: flex;
    flex:1;
    height: 100vh;
   justify-content: center;
   align-items: center;
    .container {
        border-radius: 50%;
        background: rgb(0, 192, 42);
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            font-size: 36px;
            color: #FFF;
        }
    }
}