.wrapper {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    .banner {
        align-self: center;

    }
    .mainWrapper {
        display: flex;
        position: relative;
        height: 100vh;
        margin: 100px 0px;
        .sideBar {
            background: #cfcfcf;
            width: 30vw;
            padding: 25px 0px 25px 70px;
        }
    }
}