.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 24%;
    padding: 20px;
    justify-content: space-evenly;
}

.cardImg {
    img{
        max-width: 212px;
        max-height: 300px;
    }
    
}