.container {
    width:70vw;
    position: absolute;
    left: 300px;
    top: 30px;
    div:first-child {
        display: flex;
        flex-wrap: wrap;
    }
    .cardWrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-between;
        width: 450px;
    }
}
