.container {
    width:70vw;
    position: absolute;
    left: 300px;
    top: 30px;
    div:first-child {
        display: flex;
        flex-wrap: wrap;
    }
    .cardWrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-between;
        width: 450px;
    }
}

.cardImg {
    img{
        max-width: 212px;
        max-height: 300px;
    }
    
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 1 24%;
    padding: 20px;
    justify-content: space-evenly;
    span {
        font-weight: 400;
        font-size: 10px;
        color: #818181;
    }
    .title {
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }

    button {
        width: 176px;
        height: 45px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 8px;
        color: #4C3DB2;
        border-radius: 2px;
        border:1px solid #4C3DB2;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .5s;
        &:hover {
            background: #4C3DB2;
            color: #FFF;
        }

    }
}

